{% extends "template.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "global-header/macro.njk" import hmctsGlobalHeader %}

{% block pageTitle %}
    {{ i18n.pageTitle }}
{% endblock %}

{% block head %}
    {% include "includes/head.njk" %}
{% endblock %}

{% block header %}
    {% include "includes/hmcts/jui-header.njk" %}
{% endblock %}

{% block main %}
    <div class="jui-width-container">

        {{ govukBackLink({
            text: "Back",
            href: backUrl,
            classes: "govuk-!-margin-bottom-4 govuk-!-margin-top-6"
        }) }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
                    {% block content %}{% endblock %}
                </main>

            </div>
        </div>

    </div>

{% endblock %}

{% block footer %}

    {% include "includes/hmcts/jui-footer.njk" %}

{% endblock %}

{% block bodyEnd %}
    <script src="/public/govuk-frontend/js/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
