<h4 class="govuk-heading-s">Advice on uploads</h4>

<ul class="govuk-list govuk-list--bullet">
    <li>Files must be no more than 100MB in size.</li>
    <li>You can upload jpg, png, svg, gif, doc and PDF files.</li>
    <li>Before uploading a file, give it a meaningful name. For example, health-report-JSmith.pdf is a good file name for a health report for an
        appellant named John Smith. Avoid meaningless file names such as IMG000023.jpg.
    </li>
</ul>
