$path: "/public/images/";

$govuk-global-styles: true;
$govuk-assets-path: '/assets/';

$govuk-page-width: 1220px;

@import "node_modules/govuk-frontend/all";

.template-download {
  background: url(/public/img/file-side.png) no-repeat;
  padding-left: 82px;
}

.template-download span {
  display: block;
  font-size: 80%;
  padding-top: 10px;
}

p {
   white-space: normal !important;
}

.app-check-your-answers ul {
  padding-left: 1em;
}
