{% extends "includes/layout.njk" %}

{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "input/macro.njk" import govukInput %}
{% from "radios/macro.njk" import govukRadios %}

{% block content %}

    <h1 class="govuk-heading-xl">Your client's address</h1>

    {% if errors|length %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorsSummary
        }) }}

    {% endif %}

    <form method="post">

        <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">

                <p>We'll use this to work out which hearing centre is best for them.</p>

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    name: "has-fixed-address",
                    fieldset: {
                        attributes: {
                            id: "has-fixed-address"
                        },
                        legend: {
                            text: "My client has a fixed address",
                            isPageHeading: false
                        }
                    },
                    items: [
                        {
                            checked: data.hasFixedAddress == 'yes',
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            checked: data.hasFixedAddress == 'no',
                            value: "no",
                            text: "No"
                        }
                    ],
                    errorMessage: errors.hasFixedAddress
                }) }}

                {% call govukFieldset({
                    attributes: {
                        id: "address-fieldset"
                    },
                    legend: {
                        text: "Address",
                        classes: "govuk-fieldset__legend--s",
                        isPageHeading: true
                    }
                }) %}

                    {{ govukInput({
                        label: {
                            html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
                        },
                        id: "line-1",
                        name: "line-1",
                        value: data.line1,
                        errorMessage: errors.line1
                    }) }}

                    {{ govukInput({
                        label: {
                            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
                        },
                        id: "line-2",
                        name: "line-2",
                        value: data.line2,
                        errorMessage: errors.line2
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Town or city"
                        },
                        classes: "govuk-!-width-two-thirds",
                        id: "town-or-city",
                        name: "town-or-city",
                        value: data.townOrCity,
                        errorMessage: errors.townOrCity
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "County"
                        },
                        classes: "govuk-!-width-two-thirds",
                        id: "county",
                        name: "county",
                        value: data.county,
                        errorMessage: errors.county
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Postcode"
                        },
                        classes: "govuk-input--width-10",
                        id: "postcode",
                        name: "postcode",
                        value: data.postcode,
                        errorMessage: errors.postcode
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Country"
                        },
                        classes: "govuk-input--width-20",
                        id: "country",
                        name: "country",
                        value: data.country,
                        errorMessage: errors.country
                    }) }}

                {% endcall %}

            </div>
        </div>

        {{ govukButton({ text: "Continue" }) }}

    </form>

{% endblock %}
