{% extends "includes/layout.njk" %}

{% from "button/macro.njk" import govukButton %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "input/macro.njk" import govukInput %}

{% block content %}

    <h1 class="govuk-heading-xl">Supply basic details for your client</h1>

    {% if errors|length %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorsSummary
        }) }}

    {% endif %}

    <form method="post">

        <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">

                {{ govukInput({
                    id: "title",
                    name: "title",
                    label: { text: "Title" },
                    classes: "govuk-input--width-10",
                    value: data.title,
                    errorMessage: errors.title
                }) }}

                {{ govukInput({
                    id: "given-names",
                    name: "given-names",
                    label: { text: "Given names" },
                    classes: "govuk-input--width-20",
                    value: data.givenNames,
                    errorMessage: errors.givenNames
                }) }}

                {{ govukInput({
                    id: "last-name",
                    name: "last-name",
                    label: { text: "Last name" },
                    classes: "govuk-input--width-20",
                    value: data.lastName,
                    errorMessage: errors.lastName
                }) }}

                {{ govukDateInput({
                    id: "date-of-birth",
                    name: "date-of-birth",
                    fieldset: {
                        legend: {
                            text: "Date of birth",
                            isPageHeading: false
                        }
                    },
                    items: [
                        { name: "day", value: data.dateOfBirthDay },
                        { name: "month", value: data.dateOfBirthMonth },
                        { name: "year", value: data.dateOfBirthYear }
                    ],
                    errorMessage: errors.dateOfBirth
                }) }}

            </div>
        </div>

        {{ govukButton({ text: "Continue" }) }}

    </form>

{% endblock %}
