{% extends "includes/layout.njk" %}

{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/check-your-answer.njk" import answer %}

{% block content %}

    <h1 class="govuk-heading-xl">Check your answers</h1>

    {% if errors|length %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorsSummary
        }) }}

    {% endif %}

    <form method="post">

        <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-two-thirds">

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Home Office reference</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("Home Office reference number", data.homeOfficeDecision.referenceNumber, paths.createAppealHomeOfficeDecision) }}
                        {{ answer("Decision date on the letter", data.homeOfficeDecision.decisionDate, paths.createAppealHomeOfficeDecision) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Basic details for your client</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("Title", data.basicDetails.title, paths.createAppealBasicDetails) }}
                        {{ answer("Given names", data.basicDetails.givenNames, paths.createAppealBasicDetails) }}
                        {{ answer("Last name", data.basicDetails.lastName, paths.createAppealBasicDetails) }}
                        {{ answer("Date of birth", data.basicDetails.dateOfBirth, paths.createAppealBasicDetails) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Nationality</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("Nationality", data.nationality.nationality, paths.createAppealNationality) }}
                        {{ answer("My client's nationality is contested", data.nationality.formattedNationalityContested, paths.createAppealNationality) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Your client's address</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("My client has a fixed address?", data.address.formattedHasFixedAddress, paths.createAppealAddress) }}
                        {{ answer("Address", data.address.formattedAddress, paths.createAppealAddress) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Why is your client appealing?</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("Appeal reason", data.appealReason.formattedAppealReason, paths.createAppealAppealReason) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Grounds of appeal</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("Grounds", data.groundsOfAppeal.formattedGroundsOfAppeal, paths.createAppealGroundsOfAppeal) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">New matters</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("New matters", data.newMatters.formattedNewMatters, paths.createAppealNewMatters) }}
                        {{ answer("Other", data.newMatters.other, paths.createAppealNewMatters) }}
                        {{ answer("Other document", data.newMatters.otherDocument.document_filename, paths.createAppealNewMatters) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Other appeals</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("Other appeals?", data.hasOtherAppeals.formattedHasOtherAppeals, paths.createAppealHasOtherAppeals) }}
                        {{ answer("Appeal number", data.otherAppeals.appealNumber, paths.createAppealOtherAppeals) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Your own reference number</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("Reference number", data.referenceNumber, paths.createAppealReferenceNumber) }}

                    </dl>

                </section>

                <section class="govuk-!-margin-bottom-8">

                    <h2 class="govuk-heading-m">Out of time</h2>

                    <dl class="app-check-your-answers app-check-your-answers--short">

                        {{ answer("Explanation", data.outOfTime.explanation, paths.createAppealOutOfTime) }}
                        {{ answer("Explanation document", data.outOfTime.explanationDocument.document_filename, paths.createAppealOutOfTime) }}

                    </dl>

                </section>

            </div>
        </div>

        {{ govukButton({ text: "Submit" }) }}

    </form>

{% endblock %}
