{% extends "includes/layout.njk" %}

{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}

{% block content %}

    <h1 class="govuk-heading-xl">Tell us about your client</h1>

    {% if errors|length %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorsSummary
        }) }}

    {% endif %}

    <form method="post">

        <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-two-thirds">

                {{ govukCheckboxes({
                    name: "checklist",
                    fieldset: {
                        attributes: {
                            id: "checklist"
                        }
                    },
                    items: [
                        {
                            checked: data.checklist.includes('1'),
                            value: '1',
                            text: "My client is at least 18 years old"
                        },
                        {
                            checked: data.checklist.includes('2'),
                            value: '2',
                            text: "My client is not currently in detention"
                        },
                        {
                            checked: data.checklist.includes('3'),
                            value: '3',
                            text: "My client isn't appealing with other people as part of a family appeal"
                        },
                        {
                            checked: data.checklist.includes('4'),
                            value: '4',
                            text: "My client is located in one of these postcodes: HA1, HA2, HA4"
                        },
                        {
                            checked: data.checklist.includes('5'),
                            value: '5',
                            text: "My client is presently in the UK"
                        }
                    ],
                    errorMessage: errors.checklist
                }) }}

            </div>
        </div>

        {{ govukButton({ text: "Continue" }) }}

    </form>

{% endblock %}
