{% extends "includes/layout.njk" %}

{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

    <h1 class="govuk-heading-xl">The grounds you'll build your appeal on.</h1>

    {% if errors|length %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorsSummary
        }) }}

    {% endif %}

    <form method="post">

        <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">

                <p>You’ll be able to explain your grounds later.</p>

                {{ govukCheckboxes({
                    idPrefix: "grounds-of-appeal",
                    name: "grounds-of-appeal",
                    fieldset: {
                        legend: {
                            isPageHeading: false
                        }
                    },
                    hint: {
                        text: "You can choose more than one."
                    },
                    items: [
                        {
                            checked: groundsOfAppeal.refugeeConventionChecked,
                            value: "refugeeConvention",
                            text: "Removing the appellant from the UK would breach the UK's obligations under the Refugee Convention"
                        },
                        {
                            checked: groundsOfAppeal.humanitarianProtectionChecked,
                            value: "humanitarianProtection",
                            text: "Removing the appellant from the UK would breach the UK's obligations in relation to persons eligible for a grant of humanitarian protection"
                        },
                        {
                            checked: groundsOfAppeal.humanRightsConventionChecked,
                            value: "humanRightsConvention",
                            text: "Removing the appellant from the UK would be unlawful under section 6 of the Human Rights Act 1998 (public authority not to act contrary to Human Rights Convention)"
                        }
                    ]
                }) }}

            </div>
        </div>

        {{ govukButton({ text: "Continue" }) }}

    </form>

{% endblock %}
