{% extends "includes/layout.njk" %}

{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}

{% block content %}

    <h1 class="govuk-heading-xl">New matters</h1>

    {% if errors|length %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorsSummary
        }) }}

    {% endif %}

    <form method="post" enctype="multipart/form-data">

        <input name="previouslyExchangedDocumentsData" type="hidden" value="{{ data.previouslyExchangedDocumentsData }}"/>

        <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    name: "has-new-matters",
                    fieldset: {
                        attributes: {
                            id: "has-new-matters"
                        },
                        legend: {
                            text: "Are there any new reasons why your client wishes to remain in the UK or any new grounds on which they should be permitted to stay?",
                            isPageHeading: false
                        }
                    },
                    items: [
                        {
                            checked: data.hasNewMatters == 'yes',
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            checked: data.hasNewMatters == 'no',
                            value: "no",
                            text: "No"
                        }
                    ],
                    errorMessage: errors.hasNewMatters
                }) }}

                <p>State any new reasons why your client wishes to remain in the UK or any new grounds on which they should be permitted to stay.</p>

                <p>The Home Office needs to agree that this is a new matter.</p>

                <p>If the Home Office does not agree it should be considered as part of this appeal, the tribunal will not be able to proceed. Your client may
                    then need to make a new application for a Home Office asylum decision.</p>

                {{ govukCheckboxes({
                    idPrefix: "new-matters",
                    name: "new-matters",
                    fieldset: {
                        attributes: {
                            id: "new-matters"
                        }
                    },
                    hint: {
                        text: "You can choose more than one."
                    },
                    items: [
                        {
                            checked: data.newMatters.includes('humanRightsNewChild'),
                            name: "newMatters-humanRightsNewChild",
                            value: "humanRightsNewChild",
                            text: "Birth of a child"
                        },
                        {
                            checked: data.newMatters.includes('humanRightsNewRelationship'),
                            name: "newMatters-humanRightsNewRelationship",
                            value: "humanRightsNewRelationship",
                            text: "New relationship"
                        },
                        {
                            checked: data.newMatters.includes('humanRightsBreachOfFamilyLife'),
                            name: "newMatters-humanRightsBreachOfFamilyLife",
                            value: "humanRightsBreachOfFamilyLife",
                            text: "Removal would disrupt family life"
                        },
                        {
                            checked: data.newMatters.includes('humanRightsRefugee'),
                            name: "newMatters-humanRightsRefugee",
                            value: "humanRightsRefugee",
                            text: "Appellant now claims to be a refugee"
                        },
                        {
                            checked: data.newMatters.includes('humanRightsMarriedBritishCitizen'),
                            name: "newMatters-humanRightsMarriedBritishCitizen",
                            value: "humanRightsMarriedBritishCitizen",
                            text: "New marriage"
                        },
                        {
                            checked: data.newMatters.includes('other'),
                            name: "newMatters-other",
                            value: "other",
                            text: "Other"
                        }
                    ],
                    errorMessage: errors.newMatters
                }) }}

                {% call govukFieldset({
                    attributes: {
                        id: "other-fieldset"
                    },
                    legend: {
                        text: "Other",
                        classes: "govuk-fieldset__legend--s",
                        isPageHeading: false
                    }
                }) %}

                    {{ govukTextarea({
                        name: "other",
                        id: "other",
                        hint: {
                            text: "You can write an answer or upload a document."
                        },
                        value: data.other,
                        errorMessage: errors.other
                    }) }}

                    {% if data.otherDocument %}
                        <p><a href="{{ data.otherDocument.document_binary_url }}"
                              target="_blank">{{ data.otherDocument.document_filename }}</a></p>
                    {% endif %}

                    {{ govukFileUpload({
                        id: "other-document",
                        name: "other-document",
                        label: {
                            text: "Upload a file"
                        },
                        errorMessage: errors.otherDocument
                    }) }}

                {% endcall %}

            </div>
        </div>

        {{ govukButton({ text: "Continue" }) }}

    </form>

    {% include "includes/upload-advice.njk" %}

{% endblock %}
