{% extends "includes/layout.njk" %}

{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "radios/macro.njk" import govukRadios %}

{% block content %}

    <h1 class="govuk-heading-xl">Has your client appealed against any other immigration decision in the United Kingdom or overseas?</h1>

    {% if errors|length %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorsSummary
        }) }}

    {% endif %}

    <form method="post">

        <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">

                {{ govukRadios({
                    idPrefix: "other-appeals-question",
                    name: "other-appeals-question",
                    fieldset: {
                        legend: {
                            isPageHeading: false
                        }
                    },
                    items: [
                        {
                            checked: otherAppealsQuestion.yesChecked,
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            checked: otherAppealsQuestion.yesWithoutAppealNumberChecked,
                            value: "yesWithoutAppealNumber",
                            text: "Yes, but I don't have an appeal number"
                        },
                        {
                            checked: otherAppealsQuestion.noChecked,
                            value: "no",
                            text: "No"
                        },
                        {
                            checked: otherAppealsQuestion.notSureChecked,
                            value: "notSure",
                            text: "I'm not sure"
                        }
                    ]
                }) }}

            </div>
        </div>

        {{ govukButton({ text: "Continue" }) }}

    </form>

{% endblock %}
