{% extends "includes/layout.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "textarea/macro.njk" import govukTextarea %}

{% block content %}

    <h1 class="govuk-heading-xl">Build your appeal</h1>

    {% if errors|length %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorsSummary
        }) }}

    {% endif %}

    <form method="post" enctype="multipart/form-data">

        <input name="previouslyExchangedDocumentsData" type="hidden" value="{{ previouslyExchangedDocumentsData }}"/>

        <section class="govuk-!-margin-bottom-8">

            <h2 class="govuk-heading-m">1. Download the template below and use it to create your appeal argument.</h2>

            <p class="template-download">
                <a href="https://ia-prototype.cloudfabric.co.uk:3501/static/LegalArgumentTemplate.doc" target="_blank">Appeal_Argument_Template_10_11_18.doc</a>
                <span class="metadata">
                            MS Word Document, 38KB<br>
                            This file may not be suitable for users of assistive technology.<br>
                            <a href="#">Request an accessible format.</a>
                        </span>
            </p>

            <p>Advice: Your appeal argument should reference your evidence and the grounds and issues of the case.</p>

        </section>

        <section class="govuk-!-margin-bottom-5">

            <h2 class="govuk-heading-m">2. Upload your appeal argument below.</h2>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                    {% call govukFieldset({
                        legend: {
                            classes: "govuk-fieldset__legend--s",
                            isPageHeading: false
                        }
                    }) %}

                        {% if legalArgument.document %}
                            <p><a href="{{ legalArgument.document.document_binary_url }}"
                                  target="_blank">{{ legalArgument.document.document_filename }}</a></p>
                        {% endif %}

                        {{ govukFileUpload({
                            id: "legal-argument-document",
                            name: "legal-argument-document",
                            label: {
                                text: "Upload a file"
                            },
                            errorMessage: errors.legalArgumentDocument
                        }) }}

                        {{ govukTextarea({
                            name: "legal-argument-description",
                            id: "legal-argument-description",
                            label: {
                                text: "Describe the document (optional)"
                            },
                            value: legalArgument.description,
                            errorMessage: errors.legalArgumentDescription
                        }) }}

                    {% endcall %}

                </div>
            </div>

        </section>

        <section class="govuk-!-margin-bottom-5">

            <h2 class="govuk-heading-m">3. Upload your evidence below. This must include any witness statements.</h2>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                    {% call govukFieldset({
                        legend: {
                            text: "Evidence",
                            classes: "govuk-fieldset__legend--s",
                            isPageHeading: false
                        }
                    }) %}

                        {% if legalArgument.evidence.documents[0] %}
                            <p><a href="{{ legalArgument.evidence.documents[0].value.document.document_binary_url }}"
                                  target="_blank">{{ legalArgument.evidence.documents[0].value.document.document_filename }}</a></p>
                        {% endif %}

                        {{ govukFileUpload({
                            id: "supporting-evidence-document",
                            name: "supporting-evidence-document",
                            label: {
                                text: "Upload a new document"
                            }
                        }) }}

                    {% endcall %}

                </div>
            </div>

        </section>

        {{ govukButton({ text: "Continue" }) }}

    </form>

    {% include "includes/upload-advice.njk" %}

{% endblock %}
